.content-block.spell-preview, .content-block .spell-detail {
    font-weight: 400;
}

.content-block .spell-preview {
    position: relative;
}
.content-block .spell-preview-name {
    font-weight: 600;
    font-size: 13px;
}

.content-block .spell-preview-subhead {
    font-size: 11px;
    color: #6f6d6d;
}

.content-block .spell-detail {
    display: none;
}

.content-block .spell-detail.active {
    display: block;
    border-top: solid 3px rgb(236, 233, 233);
}
.content-block .spell-detail.active .italic-lead {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}

.content-block .spell-detail.active .label-text-pair-outer > div {
    display: inline;
}

.content-block .spell-detail.active .label-text-pair-outer > div:first-child {
    font-weight: 700;
    margin-right: 15px;
}

.expand-spell {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    
    color: #6d74dd;
    font-size: 44px;
    font-weight: 700;
}
.expand-spell:hover {
    cursor: pointer;
}

.table-outer .caption {
    font-style: italic;
}
.table-inner {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: solid 1px #ddd;
} 
.table-inner .table-header, .table-inner .table-row {
    display: table-row;
    text-align: center;
}

.table-inner .table-header {
    font-weight: 700;
    border: solid 1px #ddd;
}

.table-inner .table-row {
    display: table-row;
}

.table-inner .table-row:nth-child(odd){
    background: #faf8f7;
}

.table-inner .table-col {
    display: table-cell;
    padding: 10px 0;
}

.table-inner .table-col {
    border-left: solid 1px #ddd;
}
.table-inner .table-col:first-child {
    border-left: none;
}