
body {
  div, span, li {
    font-size: 13px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* these are lazy AF, do this better */
form {
  margin-top: 10px;
  margin-bottom: 10px;
}

form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: -5px;   
}

/**
 * class: space-sequence-5, space-sequence-10, space-sequence...
 * Sets the vertical spacing between
 * direct children elements of the container.
 */
 @for $i from 1 through 20 {
	$gap_top_size: #{$i*5};
	.space-sequence-#{$gap_top_size} {
		> * + * {
			margin-top: #{$gap_top_size}px;
		}
	}
}


.content-block {

  & .content-preview, & .content-detail {
      font-weight: 400;
  }

  & .content-preview {
      position: relative;
  }

  & .content-preview-name {
      font-weight: 600;
  }

  & .content-preview-subhead {
      font-size: 11px;
      color: #6f6d6d;
  }

  & .content-detail {
      display: none;

      &.active {
          display: block;
         border-top: solid 3px rgb(236, 233, 233);
      }

      .italic-lead {
          margin-top: 10px;
          font-size: 14px;
          font-style: italic;
      }
      .label-text-pair-outer {
          > div {
              display: inline;
          }
          > div:first-child {
              font-weight: 700;
              margin-right: 15px;
          }
      }
      .embolden-600 {
        font-weight: 600;
      }
  }
}

.toggle-content-visibility {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  
  color: #6d74dd;
  font-size: 44px;
  font-weight: 700;
  
  &:hover {
      cursor: pointer;
  }
}

.table-outer {
  .caption {
      font-style: italic;
  }
  .table-inner {
      display: table;
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border: solid 1px #ddd; 

      .table-header, .table-row {
          display: table-row;
          text-align: center;
      }
      .table-header {
          font-weight: 700;
          border: solid 1px #ddd;
      }
      .table-row:nth-child(odd) {
          background: #faf8f7;
      }

      .table-col {
          display: table-cell;
          padding: 10px 0px;
          border-left: solid 1px #ddd;

          &:first-child {
              border-left: none;
          }
      }
  }
}